<div class="modal-header">
    <h3 class="modal-title">{{vm.header}}</h3>
</div>
<div class="modal-body">
    <label for="decision-tree">{{vm.title}}</label>
    <select id="decision-tree" data-ng-model="vm.selectedTreeId">
        <option ng-repeat="tree in vm.trees track by $index" value="{{tree.id}}">{{tree.title}}</option>
    </select>
    <!--<input type="text" ng-keyup="$event.keyCode == 13 && vm.ok()" 
           data-ng-model="vm.title" 
           placeholder="New title" 
           class="form-control">-->
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="vm.cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="vm.ok()">OK</button>
</div>
