<div data-ng-controller="ScenariosCtrl as d" style="overflow-y: auto; overflow-x: hidden" resize resize-y="100">
    <h1>Scenarios</h1>

    <script type="text/ng-template" id="items_renderer.html">
        <div ui-tree-handle>
            <a ng-if="item.hasSubs()" class="btn btn-success btn-xs" data-nodrag ng-click="toggle(this)"><span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span></a>
            <span contenteditable ng-model="item.title" style="font-size:20px;cursor:text" data-nodrag></span>
            <rating ng-model="item.userWeight" style="right:150px;cursor:pointer;position:fixed" max="5" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
            <select class="multiselect" data-nodrag id="example-getting-started" multiple="multiple" style="right:300px;cursor:pointer;position:fixed">
                <option value="cheese">Cheese</option>
                <option value="tomatoes">Tomatoes</option>
                <option value="mozarella">Mozzarella</option>
                <option value="mushrooms">Mushrooms</option>
                <option value="pepperoni">Pepperoni</option>
                <option value="onions">Onions</option>
            </select>
            <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>
            <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span class="glyphicon glyphicon-remove"></span></a>

            <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubScenario(this)" style="margin-right: 8px;"><span class="glyphicon glyphicon-plus"></span></a>
        </div>
        <ol ui-tree-nodes="options" ng-model="item.subScenarios" ng-class="{hidden: collapsed}">
            <li ng-repeat="item in item.subScenarios" ui-tree-node ng-include="'items_renderer.html'">
            </li>
        </ol>

    </script>
    <div ui-tree="options">
        <ol ui-tree-nodes ng-model="d.projectService.project.scenarios">
            <li ng-repeat="item in d.projectService.project.scenarios" ui-tree-node ng-include="'items_renderer.html'"></li>
        </ol>
    </div>
    <a class="pull-right btn btn-primary btn-xs" ng-click="newCriteria()" style="margin-right: 18px;margin-top:10px"><span class="glyphicon glyphicon-plus"></span></a>



</div>