<div class="container-fluid" data-ng-controller="ScenariosCtrl as d">
    <h1>Scenarios</h1>
    
    <script type="text/ng-template" id="items_renderer.html">
        <div ui-tree-handle ng-click="vm.select(item)">
            <a ng-if="item.hasSubs()" class="btn btn-success btn-xs" data-nodrag ng-click="toggle(this)"><span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span></a>
            <span contenteditable strip-br="true" ng-model="item.title" style="font-size:20px;cursor:text" data-nodrag></span>
            <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>
            <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span class="glyphicon glyphicon-remove"></span></a>
            <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubScenario(this)" style="margin-right: 8px;"><span class="glyphicon glyphicon-plus"></span></a>
            <rating ng-model="item.userWeight" class="pull-right" style="margin: 0 10px; cursor:pointer" max="5" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
        </div>
        <ol ui-tree-nodes="options" ng-model="item.subScenarios" ng-class="{hidden: collapsed}">
            <li ng-repeat="item in item.subScenarios track by $index" ui-tree-node ng-include="'items_renderer.html'">
            </li>
        </ol>
    </script>
    
    <div class="row">
        <div class="col-md-6">
            <!--<a ng-click="vm.select()"><i class="fa fa-pie-chart"></i> select top element</a>-->
            <div ng-show="!reorder" ng-click="reorder = !reorder" class="lock"><i class="fa fa-lock"></i><a style="margin-left: 5px">enable reorder</a></div>
            <div ng-show="reorder" ng-click="reorder = !reorder" class="lock"><i class="fa fa-unlock"></i><a style="margin-left: 5px">disable reorder</a></div>
        </div>
    </div>
    
    <div class="row" style="overflow-y: auto; overflow-x: hidden;  background: white; background-color: white" resize resize-y="150">
        <!-- Tree view in left panel -->
        <div class="col-md-6" ui-tree="options" data-drag-enabled="reorder" data-drag-delay="500"
             style="margin-top:5px">
            <ol ui-tree-nodes ng-model="d.projectService.project.scenarios">
                <li ng-repeat="item in d.projectService.project.scenarios" ui-tree-node ng-include="'items_renderer.html'"></li>
            </ol>
            <a class="pull-right btn btn-primary btn-xs" ng-click="newScenario()" style="margin-right: 18px;margin-top:10px"><span class="glyphicon glyphicon-plus"></span></a>
        </div>

        <!-- Result view in right panel -->
        <div class="col-md-6">
            <div class="row" data-ng-if="vm.selectedItem">
                <h3>{{vm.selectedItem.title}}</h3>
                <!--<span contenteditable ng-model="vm.selectedItem.description" style="font-size:20px;cursor:text"></span>-->
                <div id="pieChart"></div>

                <!--<div data-ng-if="!vm.selectedItem.hasSubs()">
                    <h4>Select criteria</h4>
                    <div max-height="250px"
                         max-labels="3"
                         style="margin: -8px 10px 0 10px;"
                         multi-select
                         input-model="multiSelectOptions"
                         button-label="title"
                         item-label="title"
                         tick-property="ticked"
                         orientation="vertical"
                         on-item-click="clicked(data)"
                         group-property="multiSelectGroup">
                    </div>-->
            </div>
        </div>
    </div>
    </div>
</div>