<div data-ng-controller="UsersCtrl as vm" class="container-fluid" >
    <h1>User Preferences</h1>
    <a href="" ng-click="vm.userService.save()" data-toggle="tooltip" title="Save your changes" >
        <i class="pull-right fa fa-lg fa-save edit" style="margin-top: -30px; font-size: 18pt;"></i>
    </a>

    <div class="edit-container-black" data-toggle="tooltip"
        title="Edit the user's name" style="margin: 12px 30px 10px 10px; color: black; font-size: 18pt;">

        <label>Name: </label>
        <div contenteditable strip-br style="font-style: italic; font-weight: bold; margin-left: 30px;"
            ng-model="vm.userService.activeUser.name">
        </div>
        <i class="pull-right fa fa-pencil edit" style="margin-top: -30px;"></i>

        <div class="pull-right">
            <img src="img/user.png" width="24" height="24" />
        </div>
        <!-- <div class="pull-right" style="font-weight: bold">Player:</div> -->
    </div>

    <div class="edit-container-black" data-toggle="tooltip"
        title="Edit the user's description" style="margin: 12px 30px 10px 10px; color: black; font-size: 18pt;">

        <label>Description: </label>
        <div contenteditable strip-br style="font-style: italic; font-weight: bold; margin-left: 30px;"
            ng-model="vm.userService.activeUser.description">
        </div>
        <i class="pull-right fa fa-pencil edit" style="margin-top: -30px;"></i>

        <div class="pull-right">
            <img src="img/user.png" width="24" height="24" />
        </div>
        <!-- <div class="pull-right" style="font-weight: bold">Player:</div> -->
    </div>

</div>
