<div class="container-fluid" data-ng-controller="CriteriasCtrl as d">
    <div class="row">
        <h1 class="col-md-8">Criteria</h1>
        <h1 class="col-md-4" data-ng-if="vm.selectedCriteria">Criteria '{{vm.selectedCriteria.title}}'</h1>
    </div>

    <script type="text/ng-template" id="options_renderer.html">
        <div ui-tree-handle style="cursor:auto">
            <span class="glyphicon glyphicon-list" style="margin-right:4px; opacity:0.25; color:grey" />
            <span contenteditable ng-model="item.title" style="font-size:20px;cursor:text" data-ndrag></span>
            <!--<span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>-->
            <a class="pull-right btn btn-danger btn-xs" data-ndrag ng-click="vm.deleteOption(this.$nodeScope.$modelValue, $parentNodeScope.$modelValue)" style="margin-right:20px;"><span class="glyphicon glyphicon-remove"></span></a>
            <input type="number" ng-model="item.value" min="0" max="1" step="0.1" class="pull-right text-right" style="margin:0 130px 0 0">
        </div>
    </script>

    <script type="text/ng-template" id="items_renderer.html">
        <div ui-tree-handle ng-click="vm.select(item)">
            <a class="btn btn-success btn-xs" ng-click="toggle(this)">
                <span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span>
            </a>
            <span contenteditable ng-model="item.title" ng-class="{'disabledItem': !item.isEnabled}" style="font-size:20px;cursor:text" data-ndrag></span>
            <!--<span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>-->
            <!-- Disable criteria -->
            <input type="checkbox" ng-model="item.isEnabled" class="pull-right checkbox" ng-click="vm.update();">
            <!-- Delete criteria -->
            <a class="pull-right btn btn-danger btn-xs" ng-if="item.isEnabled" data-ndrag ng-click="vm.deleteCriteria(this.$nodeScope.$modelValue, $parentNodeScope.$modelValue)"><span class="glyphicon glyphicon-remove"></span></a>
            <!-- Specify criteria options -->
            <a class="pull-right btn btn-primary btn-xs" ng-if="item.canHaveOptions() && item.isEnabled"
               data-ng-click="newOption(this)" style="margin-right: 8px;">
                <span class="glyphicon glyphicon-list"></span>
            </a>
            <!-- Add a new subcriteria -->
            <a class="pull-right btn btn-primary btn-xs" ng-if="item.canHaveSubs() && item.isEnabled"
               data-ng-click="newSubCriteria(this)" style="margin-right: 8px;">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
            <!-- Rating -->
            <rating class="pull-right" style="margin:0 10px;cursor:pointer" ng-if="item.isEnabled" ng-model="item.userWeight" max="5" readonly="isReadonly"
                    on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
            <!-- Specify whether to use the scenario or not -->
            <div class="pull-right" ng-if="!item.canHaveSubs()">
                <label><input type="checkbox" style="cursor:pointer" ng-model="item.isScenarioDependent" ng-true-value="false" ng-false-value="true" class="pull-right checkbox"> &nbsp;No scenario input&nbsp;&nbsp;</label>
            </div>
            <!-- <div>
                <span class="pull-right">&nbsp;No scenario input&nbsp;&nbsp;</span>
                <input type="checkbox" ng-model="item.isScenarioDependent" class="pull-right checkbox">
            </div> -->
            <!-- Specify datasource -->
            <!-- <select class="pull-right" style="margin:0 10px;"
                    data-ng-if="item.options.length > 0 && item.isEnabled"
                    data-ng-options="ds.id as ds.title for ds in vm.projectService.project.dataSources"
                    data-ng-model="item.dataSourceId"></select> -->
        </div>
        <ol ui-tree-nodes="subCriterias" ng-model="item.subCriterias" ng-if="item.isEnabled" ng-class="{hidden: collapsed}">
            <li ng-repeat="item in item.subCriterias" ui-tree-node ng-include="'items_renderer.html'"></li>
        </ol>
        <ol ui-tree-nodes="options" ng-model="item.options" ng-if="item.isEnabled" ng-class="{hidden: collapsed}">
            <li ng-repeat="item in item.options" ui-tree-node ng-include="'options_renderer.html'"></li>
        </ol>
    </script>

    <div data-ng-if="vm.projectService.project != null">
        <div class="row" style="margin-right: 10px">
            <div class="col-md-8">
                <!--<a ng-click="vm.select()"><i class="fa fa-pie-chart"></i> select top element</a>-->
                <a style="margin: 0 5px" href="" ng-show="!reorder" ng-click="reorder = !reorder" class="lock"><i class="fa fa-lg fa-lock" style="margin: 0 5px"></i>enable reorder</a>
                <a style="margin: 0 5px" href="" ng-show="reorder" ng-click="reorder = !reorder" class="lock"><i class="fa fa-lg fa-unlock" style="margin: 0 5px"></i>disable reorder</a>
                <a style="margin: 0 5px" href="" ng-show="!sortAscending" ng-click="vm.sortOptions(vm.projectService.project.criterias, sortAscending)" ng-dblclick="sortAscending = !sortAscending" class="lock"><i class="fa fa-lg fa-sort-numeric-desc" style="margin: 0 5px"></i>sort descending</a>
                <a style="margin: 0 5px" href="" ng-show="sortAscending" ng-click="vm.sortOptions(vm.projectService.project.criterias, sortAscending)" ng-dblclick="sortAscending = !sortAscending" class="lock"><i class="fa fa-lg fa-sort-numeric-asc" style="margin: 0 5px"></i>sort ascending</a>
            </div>
        </div>

        <div class="row"
             style="overflow-y: auto; overflow-x: hidden;  background: white; background-color: white" resize resize-y="150">
            <div class="col-md-8" ui-tree data-drag-enabled="reorder" data-drag-delay="500"
                 style="margin-top:5px">
                <ol ui-tree-nodes ng-model="d.projectService.project.criterias">
                    <li ng-repeat="item in d.projectService.project.criterias"
                        ui-tree-node
                        ng-include="'items_renderer.html'"></li>
                </ol>
                <a class="pull-right btn btn-primary btn-xs" ng-click="newCriteria()" style="margin-right: 18px;margin-top:10px"><span class="glyphicon glyphicon-plus"></span></a>
            </div>
            <div class="col-md-4">
                <div class="row" data-ng-if="vm.selectedCriteria">
                    <!--<span contenteditable ng-model="vm.selectedCriteria.description" style="font-size:20px;cursor:text"></span>-->
                    <!--<div id="pieChart"></div>-->
                    <!--<script src="../../js/draw.js"></script>-->
                </div>
                <div class="row" id="pieChart"></div>
            </div>

        </div>

    </div>
</div>
