<div data-ng-controller="SolutionsCtrl" class="container-fluid">
    <div class="row">
        <h3 class="col-md-2" style="margin-top: 0">Active Solution:</h3>
        <div class="col-md-2">
            <select class="form-control"
                    data-ng-model="vm.projectService.activeSolution"
                    data-ng-options="solution.title for solution in vm.solutions"></select>
        </div>
        <button class="btn btn-default col-md-1" data-ng-click="vm.createNewSolution()">New solution</button>
    </div>
</div>