<div data-ng-controller="ComparisonsCtrl as d" class="container-fluid" >
    <div class="row" style="margin-top: 22px">
        <div class="col-md-10">
            <h1 class="pull-left" style="margin-top:0">Compare&nbsp;</h1>
            <div class="pull-left">
                <select class="form-control"
                        data-ng-change="vm.changeActiveSolution()"
                        data-ng-model="vm.projectService.activeSolution"
                        data-ng-options="solution.title for solution in vm.solutions"></select>
            </div>
            <h1 class="pull-left" style="margin-top:0">&nbsp;to&nbsp;</h1>
            <div class="pull-left">
                <!--button-label="icon name"
                    item-label="icon name maker"-->
                <multi-select input-model="vm.compareToSolutions"
                              output-model="vm.projectService.compareToSolutions"
                              item-label="title"
                              button-label="title"
                              tick-property="ticked"
                              on-item-click="vm.select()">
                </multi-select>
                <!--<select class="form-control"
                        data-ng-model="vm.compareToSolutions"
                        data-ng-options="solution.title for solution in vm.solutions"></select>-->
            </div>
            <h1 class="pull-left" style="margin-top:0">&nbsp;for scenario&nbsp;</h1>
            <div class="pull-left">
                <select class="form-control"
                        data-ng-model="selectedItem"
                        data-ng-change="vm.select(selectedItem.scenario)"
                        data-ng-trim="false"
                        data-ng-options="scenario.title for scenario in vm.scenarios"></select>
            </div>
        </div>
        <!--TODO Add filter icon-->
        <!-- <div class="col-md-2">
            <select class="form-control"
                    data-ng-model="vm.projectService.activeDataSource"
                    data-ng-change="vm.dataSourceChanged()"
                    data-ng-options="dataSource.title group by dataSource.group for dataSource in vm.projectService.project.dataSources">
                <option value="">&nbsp;</option>
            </select>
        </div> -->
    </div>

    <div class="row" data-ng-if="vm.projectService.activeSolution"
         style="overflow-y: auto; overflow-x: hidden" resize resize-y="140">

         <div class="col-md-6">
             <svg id="barChart" class="chart"></svg>
         </div>
    </div>
</div>
